{% extends "base.html.twig" %}

{% block body %}

    <h1>Liste des articles ! </h1>

    <table>

        <tr>
            <th>Title de l'article </th>
            <td>article-test-1</td>
        </tr>
        <tr>
            <th>Prix : </th>
            <td>50 euros</td>
        </tr>
        <tr>
            <th>Description article : </th>
            <td>Un super article-1 !</td>
        </tr>

        <!--two article-->
        <tr>
            <th>Title de l'article : </th>
            <td>article-test-2</td>

        </tr>
        <tr>
            <th>Prix : </th>
            <td>50 euros</td>
        </tr>
        <tr>
            <th>Description article : </th>
            <td>Un super article-2 !</td>
        </tr>

        <!--Three article-->
        <tr>
            <th>Title de l'article : </th>
            <td>article-test-3</td>
        </tr>
        <tr>
            <th>Prix : </th>
            <td>50 euros</td>
        </tr>
        <tr>
            <th>Description article : </th>
            <td>Un super article-3 !</td>
        </tr>

    </table>

{% endblock %}