{% extends 'base.html.twig' %}

{% block body %}

    <h1>Mon article !</h1>

    <div>
        <ul>
            <li> Title de l'article : article-test-1</li>
            <li> Prix : 50 euros</li>
            <li>Description article : Un super article-1 !</li>
        </ul>
    </div>

{% endblock %}

