{% extends "base.html.twig" %}

{% block body %}

    <h1>Liste des users ! </h1>

    <table>

        <tr>
            <th>Nom & prénom: </th>
            <td>JOHN DOE</td>
        </tr>
        <tr>
            <th>Rôle : </th>
            <td>Admin</td>
        </tr>

        <!--two users-->
        <tr>
            <th>Nom & prénom: </th>
            <td>JANNA DOE</td>
        </tr>
        <tr>
            <th>Rôle : </th>
            <td>User</td>
        </tr>

        <!--Three user-->
        <tr>
            <th>Nom & prénom: </th>
            <td>JOHNNY DOE</td>
        </tr>
        <tr>
            <th>Rôle : </th>
            <td>User</td>
        </tr>

        <!--Four user-->
        <tr>
            <th>Nom & prénom: </th>
            <td>JOE DOE</td>
        </tr>
        <tr>
            <th>Rôle : </th>
            <td>User</td>
        </tr>

    </table>

{% endblock %}